@charset "utf-8";

table {
    width: 85%;
    margin: 40px auto;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 20px;
}
caption{
    font-size: 30px;
}

table tr:hover{
    background-color: rgb(177, 241, 241);
}

table th {
    border: 1px solid black;
    text-align: center;
}

table td {
    border: 1px solid black;
}

.text-center{
    text-align: center;
}

.color-gray{
    background-color: rgb(205, 197, 197);
}

.color-red{
    background-color: rgb(243, 132, 132);
}