#page2 {
    background: url(img/背景.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#wrap {
    clear: both;
}

.contents section {
    margin-bottom: 30px;
}

.ma-fl {
    display: flex;
    width: 960px;
    margin: auto;
}

.ma-ce {
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

.sidebar {
    width: 200px;
    margin: 0 10px 0 50px 30px 50px;
    font-family: 'Bitter', serif;
    background-color: rgb(204, 204, 204, 0.3);

    margin-left: 30px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-position: inside;
    padding-left: 10px;
}

.sidebar ul a {
    color: #333333;
}

.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 70%;
    margin: 0 auto;
}

.sidebar li {
    font-size: 18px;
}

.slider li {
    background-color: rgb(127, 252, 212, 0.2);
    text-align: center;
}

.slider img {
    width: 60%;
}

.slider img {
    width: 60vw;
    /*スライダー内の画像を60vwにしてレスポンシブ化*/
    height: auto;
}

.slider .slick-slide {
    transform: scale(0.8);
    /*左右の画像のサイズを80%に*/
    transition: all .5s;
    /*拡大や透過のアニメーションを0.5秒で行う*/
    opacity: 0.5;
    /*透過50%*/
}

.slider .slick-slide.slick-center {
    transform: scale(1);
    /*中央の画像のサイズだけ等倍に*/
    opacity: 1;
    /*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}

/* 
.sl-im{
display: block;
width: 60%;
} */

.te-al-ce {
    text-align: center;
}

.icon {
    display: flex;
    padding-left: 300px;
}

.ma-le-30 {
    margin-left: 30px;
}

.fo-si-35 {
    font-size: 35px;
    font-weight: bold;
}

.co-bl {
    color: blue;
}

.ba-co {
    background-color: rgba(255, 163, 76, 0.4);
    padding: 10px;
    width: 600px;
    margin-left: 30px;
}

#picture1 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/フロース.png);
    background-size: cover;
}

#picture2 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/公国薬泉院.png);
    background-size: cover;
}

#picture3 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/シトト.png);
    background-size: cover;
}

#picture4 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/棘魚亭.png);
    background-size: cover;
}

#picture5 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/ラガード.png);
    background-size: cover;
}

#picture6 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/ギルド.png);
    background-size: cover;
}