#page2 {
    background: url(img/背景.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#wrap {
    clear: both;
}

.contents section {
    margin-bottom: 30px;
}

.ma-fl {
    display: flex;
    width: 960px;
    margin: auto;
}

.ma-ce {
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

.sidebar {
    width: 200px;
    margin: 0 10px 0 50px 30px 50px;
    font-family: 'Bitter', serif;
    background-color: rgb(204, 204, 204, 0.3);

    margin-left: 30px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-position: inside;
    padding-left: 10px;
}

.sidebar ul a {
    color: #333333;
}


.sidebar li {
    font-size: 18px;
}

.slider li {
    background-color: rgb(127, 252, 212, 0.2);
    text-align: center;
}

.te-al-ce {
    text-align: center;
}

.icon {
    display: flex;
    padding-left: 300px;
}

.ma-le-30 {
    margin-left: 30px;
}

.fo-si-35 {
    font-size: 35px;
    font-weight: bold;
}

.co-bl {
    color: blue;
}

.ba-co {
    background-color: rgba(255, 163, 76, 0.4);
    padding: 10px;
    width: 600px;
    margin-left: 30px;
}

#picture1 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/フロース.png);
    background-size: cover;
}

#picture2 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/公国薬泉院.png);
    background-size: cover;
}

#picture3 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/シトト.png);
    background-size: cover;
}

#picture4 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/棘魚亭.png);
    background-size: cover;
}

#picture5 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/ラガード.png);
    background-size: cover;
}

#picture6 {
    width: 425px;
    height: 239px;
    background-color: rgb(0, 255, 255, 0.4);
    margin: 0 50px 50px 50px;
    background: url(img/ギルド.png);
    background-size: cover;
}